body
{
    color: #999;
    background-color: #222;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
}

h1
{
    color: white;
}

h2
{
    color: lightgray;
}

li
{
    list-style: none;
}

.main-header
{
    text-align: center;
    font-size: 250%;
}

.bold
{
    font-weight: bold;
}

.text-L
{
    font-size: larger;
}

.color-CCC
{
    color: #CCC;
}

.SW-html
{
    background-image: url(https://rare-gallery.com/resol/1920x1080/57084-Windguard-Century-Age-of-AshesCentury-Age-Of-Ashes.jpg);
    padding-right: 40%;
}

.NP-html
{
    background-image: url(https://rare-gallery.com/resol/1920x1080/57081-Phantom-Century-Age-of-AshesCentury-Age-Of-Ashes.jpg);
    padding-right: 40%;
}


.SM-html
{
    background-image: url(https://rare-gallery.com/resol/1920x1080/57085-Marauder-Century-Age-of-AshesCentury-Age-Of-Ashes.jpg);
    padding-right: 40%;
}

.main-html
{
    background-image: url(https://pbs.twimg.com/media/FYRy-1eWYAA65BY.jpg:large);
    padding-right: 20%;
    padding-top: 300px;
}