body
{
    color: #AAA;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-width: 400px;
}

h1
{
    color: white;
}

h2
{
    color: lightgray;
}

li
{
    list-style: none;
}

table
{
    text-align: center;
    margin: 0px auto;
}

td
{
    padding-right: 10%;
    font-size: 1vw;
}

.main-header
{
    text-align: center;
    font-size: 250%;
}

.bold
{
    font-weight: bold;
}

.text-L
{
    font-size: larger;
}

.color-CCC
{
    color: #CCC;
}

.table-jpg
{
    width: 50%;
}

#SW-html
{
    background-image: url(https://rare-gallery.com/resol/1920x1080/57084-Windguard-Century-Age-of-AshesCentury-Age-Of-Ashes.jpg);
    padding-right: 40%;
}

#NP-html
{
    background-image: url(https://rare-gallery.com/resol/1920x1080/57081-Phantom-Century-Age-of-AshesCentury-Age-Of-Ashes.jpg);
    padding-right: 40%;
}


#SM-html
{
    background-image: url(https://rare-gallery.com/resol/1920x1080/57085-Marauder-Century-Age-of-AshesCentury-Age-Of-Ashes.jpg);
    padding-right: 40%;
}

#main-html
{
    background-image: url(index-bg.jpg);
    padding: 10px 5%;
    color: #000;
}
